/*图表*/
.iconmy-chart01 { width:48px; height:48px; display:block; background:url(../icons/chart01.png) center no-repeat;}
.iconmy-chart02 { width:48px; height:48px; display:block; background:url(../icons/chart02.png) center no-repeat;}
.iconmy-chart03 { width:48px; height:48px; display:block; background:url(../icons/chart03.png) center no-repeat;}
.iconmy-chart04 { width:48px; height:48px; display:block; background:url(../icons/chart04.png) center no-repeat;}
.iconmy-chart05 { width:48px; height:48px; display:block; background:url(../icons/chart05.png) center no-repeat;}
.iconmy-chart06 { width:48px; height:48px; display:block; background:url(../icons/chart06.png) center no-repeat;}
.iconmy-chart07 { width:48px; height:48px; display:block; background:url(../icons/chart07.png) center no-repeat;}
.iconmy-chart08 { width:48px; height:48px; display:block; background:url(../icons/chart08.png) center no-repeat;}
.iconmy-chart09 { width:48px; height:48px; display:block; background:url(../icons/chart09.png) center no-repeat;}
.iconmy-chart10 { width:48px; height:48px; display:block; background:url(../icons/chart10.png) center no-repeat;}
.iconmy-chart11 { width:48px; height:48px; display:block; background:url(../icons/chart11.png) center no-repeat;}
.iconmy-chart12 { width:48px; height:48px; display:block; background:url(../icons/chart12.png) center no-repeat;}
.iconmy-chart13 { width:48px; height:48px; display:block; background:url(../icons/chart13.png) center no-repeat;}
.iconmy-chart14 { width:48px; height:48px; display:block; background:url(../icons/chart14.png) center no-repeat;}
.iconmy-chart15 { width:48px; height:48px; display:block; background:url(../icons/chart15.png) center no-repeat;}


/*帮助*/
.iconmy-help01{ width:48px; height:48px; display:block; background:url(../icons/help01.png) center no-repeat;}
.iconmy-help02{ width:48px; height:48px; display:block; background:url(../icons/help02.png) center no-repeat;}
.iconmy-help03{ width:48px; height:48px; display:block; background:url(../icons/help03.png) center no-repeat;}
.iconmy-help04{ width:48px; height:48px; display:block; background:url(../icons/help04.png) center no-repeat;}
.iconmy-help05{ width:48px; height:48px; display:block; background:url(../icons/help05.png) center no-repeat;}
.iconmy-help06{ width:48px; height:48px; display:block; background:url(../icons/help06.png) center no-repeat;}
.iconmy-help07{ width:48px; height:48px; display:block; background:url(../icons/help07.png) center no-repeat;}
.iconmy-help08{ width:48px; height:48px; display:block; background:url(../icons/help08.png) center no-repeat;}
.iconmy-help09{ width:48px; height:48px; display:block; background:url(../icons/help09.png) center no-repeat;}
.iconmy-help10{ width:48px; height:48px; display:block; background:url(../icons/help10.png) center no-repeat;}
.iconmy-help11{ width:48px; height:48px; display:block; background:url(../icons/help11.png) center no-repeat;}
.iconmy-help12{ width:48px; height:48px; display:block; background:url(../icons/help12.png) center no-repeat;}
.iconmy-help13{ width:48px; height:48px; display:block; background:url(../icons/help13.png) center no-repeat;}
.iconmy-help14{ width:48px; height:48px; display:block; background:url(../icons/help14.png) center no-repeat;}
.iconmy-help15{ width:48px; height:48px; display:block; background:url(../icons/help15.png) center no-repeat;}


/*查询*/
.iconmy-search01{ width:48px; height:48px; display:block; background:url(../icons/seach01.png) center no-repeat;}
.iconmy-search02{ width:48px; height:48px; display:block; background:url(../icons/seach02.png) center no-repeat;}
.iconmy-search03{ width:48px; height:48px; display:block; background:url(../icons/seach03.png) center no-repeat;}
.iconmy-search04{ width:48px; height:48px; display:block; background:url(../icons/seach04.png) center no-repeat;}
.iconmy-search05{ width:48px; height:48px; display:block; background:url(../icons/seach05.png) center no-repeat;}
.iconmy-search06{ width:48px; height:48px; display:block; background:url(../icons/seach06.png) center no-repeat;}
.iconmy-search07{ width:48px; height:48px; display:block; background:url(../icons/seach07.png) center no-repeat;}
.iconmy-search08{ width:48px; height:48px; display:block; background:url(../icons/seach08.png) center no-repeat;}
.iconmy-search09{ width:48px; height:48px; display:block; background:url(../icons/seach09.png) center no-repeat;}



/*党建*/
.iconmy-party01{ width:48px; height:48px; display:block; background:url(../icons/party01.png) center no-repeat;}
.iconmy-party02{ width:48px; height:48px; display:block; background:url(../icons/party02.png) center no-repeat;}
.iconmy-party03{ width:48px; height:48px; display:block; background:url(../icons/party03.png) center no-repeat;}
.iconmy-party04{ width:48px; height:48px; display:block; background:url(../icons/party04.png) center no-repeat;}
.iconmy-party05{ width:48px; height:48px; display:block; background:url(../icons/party05.png) center no-repeat;}
.iconmy-party06{ width:48px; height:48px; display:block; background:url(../icons/party06.png) center no-repeat;}
.iconmy-party07{ width:48px; height:48px; display:block; background:url(../icons/party07.png) center no-repeat;}
.iconmy-party08{ width:48px; height:48px; display:block; background:url(../icons/party08.png) center no-repeat;}
.iconmy-party09{ width:48px; height:48px; display:block; background:url(../icons/party09.png) center no-repeat;}
.iconmy-party10{ width:48px; height:48px; display:block; background:url(../icons/party10.png) center no-repeat;}



/*荣誉*/
.iconmy-honor01{ width:48px; height:48px; display:block; background:url(../icons/honor01.png) center no-repeat;}
.iconmy-honor02{ width:48px; height:48px; display:block; background:url(../icons/honor02.png) center no-repeat;}
.iconmy-honor03{ width:48px; height:48px; display:block; background:url(../icons/honor03.png) center no-repeat;}
.iconmy-honor04{ width:48px; height:48px; display:block; background:url(../icons/honor04.png) center no-repeat;}
.iconmy-honor05{ width:48px; height:48px; display:block; background:url(../icons/honor05.png) center no-repeat;}
.iconmy-honor06{ width:48px; height:48px; display:block; background:url(../icons/honor06.png) center no-repeat;}
.iconmy-honor07{ width:48px; height:48px; display:block; background:url(../icons/honor07.png) center no-repeat;}
.iconmy-honor08{ width:48px; height:48px; display:block; background:url(../icons/honor08.png) center no-repeat;}
.iconmy-honor09{ width:48px; height:48px; display:block; background:url(../icons/honor09.png) center no-repeat;}
.iconmy-honor10{ width:48px; height:48px; display:block; background:url(../icons/honor10.png) center no-repeat;}
.iconmy-honor11{ width:48px; height:48px; display:block; background:url(../icons/honor11.png) center no-repeat;}



/*导入导出/下载上传*/
.iconmy-inout01{ width:48px; height:48px; display:block; background:url(../icons/inout01.png) center no-repeat;}
.iconmy-inout02{ width:48px; height:48px; display:block; background:url(../icons/inout02.png) center no-repeat;}
.iconmy-inout03{ width:48px; height:48px; display:block; background:url(../icons/inout03.png) center no-repeat;}
.iconmy-inout04{ width:48px; height:48px; display:block; background:url(../icons/inout04.png) center no-repeat;}
.iconmy-inout05{ width:48px; height:48px; display:block; background:url(../icons/inout05.png) center no-repeat;}
.iconmy-inout06{ width:48px; height:48px; display:block; background:url(../icons/inout06.png) center no-repeat;}
.iconmy-inout07{ width:48px; height:48px; display:block; background:url(../icons/inout07.png) center no-repeat;}
.iconmy-inout08{ width:48px; height:48px; display:block; background:url(../icons/inout08.png) center no-repeat;}
.iconmy-inout09{ width:48px; height:48px; display:block; background:url(../icons/inout09.png) center no-repeat;}
.iconmy-inout10{ width:48px; height:48px; display:block; background:url(../icons/inout10.png) center no-repeat;}
.iconmy-inout11{ width:48px; height:48px; display:block; background:url(../icons/inout11.png) center no-repeat;}
.iconmy-inout12{ width:48px; height:48px; display:block; background:url(../icons/inout12.png) center no-repeat;}
.iconmy-inout13{ width:48px; height:48px; display:block; background:url(../icons/inout13.png) center no-repeat;}
.iconmy-inout14{ width:48px; height:48px; display:block; background:url(../icons/inout14.png) center no-repeat;}
.iconmy-inout15{ width:48px; height:48px; display:block; background:url(../icons/inout15.png) center no-repeat;}



/*计算机*/
.iconmy-computer01{ width:48px; height:48px; display:block; background:url(../icons/computer01.png) center no-repeat;}
.iconmy-computer02{ width:48px; height:48px; display:block; background:url(../icons/computer02.png) center no-repeat;}
.iconmy-computer03{ width:48px; height:48px; display:block; background:url(../icons/computer03.png) center no-repeat;}
.iconmy-computer04{ width:48px; height:48px; display:block; background:url(../icons/computer04.png) center no-repeat;}
.iconmy-computer05{ width:48px; height:48px; display:block; background:url(../icons/computer05.png) center no-repeat;}
.iconmy-computer06{ width:48px; height:48px; display:block; background:url(../icons/computer06.png) center no-repeat;}
.iconmy-computer07{ width:48px; height:48px; display:block; background:url(../icons/computer07.png) center no-repeat;}
.iconmy-computer08{ width:48px; height:48px; display:block; background:url(../icons/computer08.png) center no-repeat;}
.iconmy-computer09{ width:48px; height:48px; display:block; background:url(../icons/computer09.png) center no-repeat;}
.iconmy-computer10{ width:48px; height:48px; display:block; background:url(../icons/computer10.png) center no-repeat;}
.iconmy-computer11{ width:48px; height:48px; display:block; background:url(../icons/computer11.png) center no-repeat;}
.iconmy-computer12{ width:48px; height:48px; display:block; background:url(../icons/computer12.png) center no-repeat;}
.iconmy-computer13{ width:48px; height:48px; display:block; background:url(../icons/computer13.png) center no-repeat;}
.iconmy-computer14{ width:48px; height:48px; display:block; background:url(../icons/computer14.png) center no-repeat;}
.iconmy-computer15{ width:48px; height:48px; display:block; background:url(../icons/computer15.png) center no-repeat;}
.iconmy-computer16{ width:48px; height:48px; display:block; background:url(../icons/computer16.png) center no-repeat;}
.iconmy-computer17{ width:48px; height:48px; display:block; background:url(../icons/computer17.png) center no-repeat;}
.iconmy-computer18{ width:48px; height:48px; display:block; background:url(../icons/computer18.png) center no-repeat;}
.iconmy-computer19{ width:48px; height:48px; display:block; background:url(../icons/computer19.png) center no-repeat;}
.iconmy-computer20{ width:48px; height:48px; display:block; background:url(../icons/computer20.png) center no-repeat;}
.iconmy-computer21{ width:48px; height:48px; display:block; background:url(../icons/computer21.png) center no-repeat;}
.iconmy-computer22{ width:48px; height:48px; display:block; background:url(../icons/computer22.png) center no-repeat;}
.iconmy-computer23{ width:48px; height:48px; display:block; background:url(../icons/computer23.png) center no-repeat;}




/*文件*/
.iconmy-file01{ width:48px; height:48px; display:block; background:url(../icons/file01.png) center no-repeat;}
.iconmy-file02{ width:48px; height:48px; display:block; background:url(../icons/file02.png) center no-repeat;}
.iconmy-file03{ width:48px; height:48px; display:block; background:url(../icons/file03.png) center no-repeat;}
.iconmy-file04{ width:48px; height:48px; display:block; background:url(../icons/file04.png) center no-repeat;}
.iconmy-file05{ width:48px; height:48px; display:block; background:url(../icons/file05.png) center no-repeat;}
.iconmy-file06{ width:48px; height:48px; display:block; background:url(../icons/file06.png) center no-repeat;}
.iconmy-file07{ width:48px; height:48px; display:block; background:url(../icons/file07.png) center no-repeat;}
.iconmy-file08{ width:48px; height:48px; display:block; background:url(../icons/file08.png) center no-repeat;}
.iconmy-file09{ width:48px; height:48px; display:block; background:url(../icons/file09.png) center no-repeat;}
.iconmy-file10{ width:48px; height:48px; display:block; background:url(../icons/file10.png) center no-repeat;}
.iconmy-file11{ width:48px; height:48px; display:block; background:url(../icons/file11.png) center no-repeat;}
.iconmy-file12{ width:48px; height:48px; display:block; background:url(../icons/file12.png) center no-repeat;}
.iconmy-file13{ width:48px; height:48px; display:block; background:url(../icons/file13.png) center no-repeat;}
.iconmy-file14{ width:48px; height:48px; display:block; background:url(../icons/file14.png) center no-repeat;}
.iconmy-file15{ width:48px; height:48px; display:block; background:url(../icons/file15.png) center no-repeat;}
.iconmy-file16{ width:48px; height:48px; display:block; background:url(../icons/file16.png) center no-repeat;}
.iconmy-file17{ width:48px; height:48px; display:block; background:url(../icons/file17.png) center no-repeat;}
.iconmy-file18{ width:48px; height:48px; display:block; background:url(../icons/file18.png) center no-repeat;}
.iconmy-file19{ width:48px; height:48px; display:block; background:url(../icons/file19.png) center no-repeat;}
.iconmy-file20{ width:48px; height:48px; display:block; background:url(../icons/file20.png) center no-repeat;}
.iconmy-file21{ width:48px; height:48px; display:block; background:url(../icons/file21.png) center no-repeat;}
.iconmy-file22{ width:48px; height:48px; display:block; background:url(../icons/file22.png) center no-repeat;}
.iconmy-file23{ width:48px; height:48px; display:block; background:url(../icons/file23.png) center no-repeat;}
.iconmy-file24{ width:48px; height:48px; display:block; background:url(../icons/file24.png) center no-repeat;}
.iconmy-file25{ width:48px; height:48px; display:block; background:url(../icons/file25.png) center no-repeat;}
.iconmy-file26{ width:48px; height:48px; display:block; background:url(../icons/file26.png) center no-repeat;}
.iconmy-file27{ width:48px; height:48px; display:block; background:url(../icons/file27.png) center no-repeat;}
.iconmy-file28{ width:48px; height:48px; display:block; background:url(../icons/file28.png) center no-repeat;}
.iconmy-file29{ width:48px; height:48px; display:block; background:url(../icons/file29.png) center no-repeat;}
.iconmy-file30{ width:48px; height:48px; display:block; background:url(../icons/file30.png) center no-repeat;}
.iconmy-file31{ width:48px; height:48px; display:block; background:url(../icons/file31.png) center no-repeat;}
.iconmy-file32{ width:48px; height:48px; display:block; background:url(../icons/file32.png) center no-repeat;}
.iconmy-file33{ width:48px; height:48px; display:block; background:url(../icons/file33.png) center no-repeat;}
.iconmy-file34{ width:48px; height:48px; display:block; background:url(../icons/file34.png) center no-repeat;}
.iconmy-file35{ width:48px; height:48px; display:block; background:url(../icons/file35.png) center no-repeat;}
.iconmy-file36{ width:48px; height:48px; display:block; background:url(../icons/file36.png) center no-repeat;}
.iconmy-file37{ width:48px; height:48px; display:block; background:url(../icons/file37.png) center no-repeat;}
.iconmy-file38{ width:48px; height:48px; display:block; background:url(../icons/file38.png) center no-repeat;}
.iconmy-file39{ width:48px; height:48px; display:block; background:url(../icons/file39.png) center no-repeat;}
.iconmy-file40{ width:48px; height:48px; display:block; background:url(../icons/file40.png) center no-repeat;}
.iconmy-file41{ width:48px; height:48px; display:block; background:url(../icons/file41.png) center no-repeat;}
.iconmy-file42{ width:48px; height:48px; display:block; background:url(../icons/file42.png) center no-repeat;}
.iconmy-file43{ width:48px; height:48px; display:block; background:url(../icons/file43.png) center no-repeat;}
.iconmy-file44{ width:48px; height:48px; display:block; background:url(../icons/file44.png) center no-repeat;}
.iconmy-file45{ width:48px; height:48px; display:block; background:url(../icons/file45.png) center no-repeat;}





/*教育*/
.iconmy-teach01{ width:48px; height:48px; display:block; background:url(../icons/teach01.png) center no-repeat;}
.iconmy-teach02{ width:48px; height:48px; display:block; background:url(../icons/teach02.png) center no-repeat;}
.iconmy-teach03{ width:48px; height:48px; display:block; background:url(../icons/teach03.png) center no-repeat;}
.iconmy-teach04{ width:48px; height:48px; display:block; background:url(../icons/teach04.png) center no-repeat;}
.iconmy-teach05{ width:48px; height:48px; display:block; background:url(../icons/teach05.png) center no-repeat;}
.iconmy-teach06{ width:48px; height:48px; display:block; background:url(../icons/teach06.png) center no-repeat;}
.iconmy-teach07{ width:48px; height:48px; display:block; background:url(../icons/teach07.png) center no-repeat;}
.iconmy-teach08{ width:48px; height:48px; display:block; background:url(../icons/teach08.png) center no-repeat;}
.iconmy-teach09{ width:48px; height:48px; display:block; background:url(../icons/teach09.png) center no-repeat;}
.iconmy-teach10{ width:48px; height:48px; display:block; background:url(../icons/teach10.png) center no-repeat;}
.iconmy-teach11{ width:48px; height:48px; display:block; background:url(../icons/teach11.png) center no-repeat;}
.iconmy-teach12{ width:48px; height:48px; display:block; background:url(../icons/teach12.png) center no-repeat;}
.iconmy-teach13{ width:48px; height:48px; display:block; background:url(../icons/teach13.png) center no-repeat;}
.iconmy-teach14{ width:48px; height:48px; display:block; background:url(../icons/teach14.png) center no-repeat;}
.iconmy-teach15{ width:48px; height:48px; display:block; background:url(../icons/teach15.png) center no-repeat;}
.iconmy-teach16{ width:48px; height:48px; display:block; background:url(../icons/teach16.png) center no-repeat;}
.iconmy-teach17{ width:48px; height:48px; display:block; background:url(../icons/teach17.png) center no-repeat;}
.iconmy-teach18{ width:48px; height:48px; display:block; background:url(../icons/teach18.png) center no-repeat;}
.iconmy-teach19{ width:48px; height:48px; display:block; background:url(../icons/teach19.png) center no-repeat;}
.iconmy-teach20{ width:48px; height:48px; display:block; background:url(../icons/teach20.png) center no-repeat;}
.iconmy-teach21{ width:48px; height:48px; display:block; background:url(../icons/teach21.png) center no-repeat;}
.iconmy-teach22{ width:48px; height:48px; display:block; background:url(../icons/teach22.png) center no-repeat;}
.iconmy-teach23{ width:48px; height:48px; display:block; background:url(../icons/teach23.png) center no-repeat;}
.iconmy-teach24{ width:48px; height:48px; display:block; background:url(../icons/teach24.png) center no-repeat;}
.iconmy-teach25{ width:48px; height:48px; display:block; background:url(../icons/teach25.png) center no-repeat;}




/*技能*/
.iconmy-skill01{ width:48px; height:48px; display:block; background:url(../icons/skill01.png) center no-repeat;}
.iconmy-skill02{ width:48px; height:48px; display:block; background:url(../icons/skill02.png) center no-repeat;}
.iconmy-skill03{ width:48px; height:48px; display:block; background:url(../icons/skill03.png) center no-repeat;}
.iconmy-skill04{ width:48px; height:48px; display:block; background:url(../icons/skill04.png) center no-repeat;}
.iconmy-skill05{ width:48px; height:48px; display:block; background:url(../icons/skill05.png) center no-repeat;}
.iconmy-skill06{ width:48px; height:48px; display:block; background:url(../icons/skill06.png) center no-repeat;}
.iconmy-skill07{ width:48px; height:48px; display:block; background:url(../icons/skill07.png) center no-repeat;}
.iconmy-skill08{ width:48px; height:48px; display:block; background:url(../icons/skill08.png) center no-repeat;}





/*财务/卡/钱*/
.iconmy-finance01{ width:48px; height:48px; display:block; background:url(../icons/finance01.png) center no-repeat;}
.iconmy-finance02{ width:48px; height:48px; display:block; background:url(../icons/finance02.png) center no-repeat;}
.iconmy-finance03{ width:48px; height:48px; display:block; background:url(../icons/finance03.png) center no-repeat;}
.iconmy-finance04{ width:48px; height:48px; display:block; background:url(../icons/finance04.png) center no-repeat;}
.iconmy-finance05{ width:48px; height:48px; display:block; background:url(../icons/finance05.png) center no-repeat;}
.iconmy-finance06{ width:48px; height:48px; display:block; background:url(../icons/finance06.png) center no-repeat;}
.iconmy-finance07{ width:48px; height:48px; display:block; background:url(../icons/finance07.png) center no-repeat;}
.iconmy-finance08{ width:48px; height:48px; display:block; background:url(../icons/finance08.png) center no-repeat;}
.iconmy-finance09{ width:48px; height:48px; display:block; background:url(../icons/finance09.png) center no-repeat;}
.iconmy-finance10{ width:48px; height:48px; display:block; background:url(../icons/finance10.png) center no-repeat;}
.iconmy-finance11{ width:48px; height:48px; display:block; background:url(../icons/finance11.png) center no-repeat;}
.iconmy-finance12{ width:48px; height:48px; display:block; background:url(../icons/finance12.png) center no-repeat;}
.iconmy-finance13{ width:48px; height:48px; display:block; background:url(../icons/finance13.png) center no-repeat;}
.iconmy-finance14{ width:48px; height:48px; display:block; background:url(../icons/finance14.png) center no-repeat;}
.iconmy-finance15{ width:48px; height:48px; display:block; background:url(../icons/finance15.png) center no-repeat;}




/*人*/
.iconmy-people01{ width:48px; height:48px; display:block; background:url(../icons/people01.png) center no-repeat;}
.iconmy-people02{ width:48px; height:48px; display:block; background:url(../icons/people02.png) center no-repeat;}
.iconmy-people03{ width:48px; height:48px; display:block; background:url(../icons/people03.png) center no-repeat;}
.iconmy-people04{ width:48px; height:48px; display:block; background:url(../icons/people04.png) center no-repeat;}
.iconmy-people05{ width:48px; height:48px; display:block; background:url(../icons/people05.png) center no-repeat;}
.iconmy-people06{ width:48px; height:48px; display:block; background:url(../icons/people06.png) center no-repeat;}
.iconmy-people07{ width:48px; height:48px; display:block; background:url(../icons/people07.png) center no-repeat;}
.iconmy-people08{ width:48px; height:48px; display:block; background:url(../icons/people08.png) center no-repeat;}
.iconmy-people09{ width:48px; height:48px; display:block; background:url(../icons/people09.png) center no-repeat;}
.iconmy-people10{ width:48px; height:48px; display:block; background:url(../icons/people10.png) center no-repeat;}
.iconmy-people11{ width:48px; height:48px; display:block; background:url(../icons/people11.png) center no-repeat;}
.iconmy-people12{ width:48px; height:48px; display:block; background:url(../icons/people12.png) center no-repeat;}
.iconmy-people13{ width:48px; height:48px; display:block; background:url(../icons/people13.png) center no-repeat;}
.iconmy-people14{ width:48px; height:48px; display:block; background:url(../icons/people14.png) center no-repeat;}
.iconmy-people15{ width:48px; height:48px; display:block; background:url(../icons/people15.png) center no-repeat;}




/*交流/对话*/
.iconmy-comm01{ width:48px; height:48px; display:block; background:url(../icons/comm01.png) center no-repeat;}
.iconmy-comm02{ width:48px; height:48px; display:block; background:url(../icons/comm02.png) center no-repeat;}
.iconmy-comm03{ width:48px; height:48px; display:block; background:url(../icons/comm03.png) center no-repeat;}
.iconmy-comm04{ width:48px; height:48px; display:block; background:url(../icons/comm04.png) center no-repeat;}
.iconmy-comm05{ width:48px; height:48px; display:block; background:url(../icons/comm05.png) center no-repeat;}
.iconmy-comm06{ width:48px; height:48px; display:block; background:url(../icons/comm06.png) center no-repeat;}
.iconmy-comm07{ width:48px; height:48px; display:block; background:url(../icons/comm07.png) center no-repeat;}
.iconmy-comm08{ width:48px; height:48px; display:block; background:url(../icons/comm08.png) center no-repeat;}
.iconmy-comm09{ width:48px; height:48px; display:block; background:url(../icons/comm09.png) center no-repeat;}
.iconmy-comm11{ width:48px; height:48px; display:block; background:url(../icons/comm11.png) center no-repeat;}




/*交通工具*/
.iconmy-traffic01{ width:48px; height:48px; display:block; background:url(../icons/traffic01.png) center no-repeat;}
.iconmy-traffic02{ width:48px; height:48px; display:block; background:url(../icons/traffic02.png) center no-repeat;}
.iconmy-traffic03{ width:48px; height:48px; display:block; background:url(../icons/traffic03.png) center no-repeat;}
.iconmy-traffic04{ width:48px; height:48px; display:block; background:url(../icons/traffic04.png) center no-repeat;}
.iconmy-traffic05{ width:48px; height:48px; display:block; background:url(../icons/traffic05.png) center no-repeat;}
.iconmy-traffic06{ width:48px; height:48px; display:block; background:url(../icons/traffic06.png) center no-repeat;}
.iconmy-traffic07{ width:48px; height:48px; display:block; background:url(../icons/traffic07.png) center no-repeat;}
.iconmy-traffic08{ width:48px; height:48px; display:block; background:url(../icons/traffic08.png) center no-repeat;}




/*校园*/
.iconmy-school01{ width:48px; height:48px; display:block; background:url(../icons/school01.png) center no-repeat;}
.iconmy-school02{ width:48px; height:48px; display:block; background:url(../icons/school02.png) center no-repeat;}
.iconmy-school03{ width:48px; height:48px; display:block; background:url(../icons/school03.png) center no-repeat;}
.iconmy-school04{ width:48px; height:48px; display:block; background:url(../icons/school04.png) center no-repeat;}
.iconmy-school05{ width:48px; height:48px; display:block; background:url(../icons/school05.png) center no-repeat;}
.iconmy-school06{ width:48px; height:48px; display:block; background:url(../icons/school06.png) center no-repeat;}
.iconmy-school07{ width:48px; height:48px; display:block; background:url(../icons/school07.png) center no-repeat;}
.iconmy-school08{ width:48px; height:48px; display:block; background:url(../icons/school08.png) center no-repeat;}





/*通用*/
.iconmy-general01{ width:48px; height:48px; display:block; background:url(../icons/general01.png) center no-repeat;}
.iconmy-general02{ width:48px; height:48px; display:block; background:url(../icons/general02.png) center no-repeat;}
.iconmy-general03{ width:48px; height:48px; display:block; background:url(../icons/general03.png) center no-repeat;}
.iconmy-general04{ width:48px; height:48px; display:block; background:url(../icons/general04.png) center no-repeat;}
.iconmy-general05{ width:48px; height:48px; display:block; background:url(../icons/general05.png) center no-repeat;}
.iconmy-general06{ width:48px; height:48px; display:block; background:url(../icons/general06.png) center no-repeat;}
.iconmy-general07{ width:48px; height:48px; display:block; background:url(../icons/general07.png) center no-repeat;}
.iconmy-general08{ width:48px; height:48px; display:block; background:url(../icons/general08.png) center no-repeat;}
.iconmy-general09{ width:48px; height:48px; display:block; background:url(../icons/general09.png) center no-repeat;}
.iconmy-general10{ width:48px; height:48px; display:block; background:url(../icons/general10.png) center no-repeat;}
.iconmy-general11{ width:48px; height:48px; display:block; background:url(../icons/general11.png) center no-repeat;}
.iconmy-general12{ width:48px; height:48px; display:block; background:url(../icons/general12.png) center no-repeat;}
.iconmy-general13{ width:48px; height:48px; display:block; background:url(../icons/general13.png) center no-repeat;}
.iconmy-general14{ width:48px; height:48px; display:block; background:url(../icons/general14.png) center no-repeat;}
.iconmy-general15{ width:48px; height:48px; display:block; background:url(../icons/general15.png) center no-repeat;}
.iconmy-general16{ width:48px; height:48px; display:block; background:url(../icons/general16.png) center no-repeat;}
.iconmy-general17{ width:48px; height:48px; display:block; background:url(../icons/general17.png) center no-repeat;}
.iconmy-general18{ width:48px; height:48px; display:block; background:url(../icons/general18.png) center no-repeat;}
.iconmy-general19{ width:48px; height:48px; display:block; background:url(../icons/general19.png) center no-repeat;}
.iconmy-general20{ width:48px; height:48px; display:block; background:url(../icons/general20.png) center no-repeat;}
.iconmy-general21{ width:48px; height:48px; display:block; background:url(../icons/general21.png) center no-repeat;}
.iconmy-general22{ width:48px; height:48px; display:block; background:url(../icons/general22.png) center no-repeat;}
.iconmy-general23{ width:48px; height:48px; display:block; background:url(../icons/general23.png) center no-repeat;}
.iconmy-general24{ width:48px; height:48px; display:block; background:url(../icons/general24.png) center no-repeat;}
.iconmy-general25{ width:48px; height:48px; display:block; background:url(../icons/general25.png) center no-repeat;}
.iconmy-general26{ width:48px; height:48px; display:block; background:url(../icons/general26.png) center no-repeat;}
.iconmy-general27{ width:48px; height:48px; display:block; background:url(../icons/general27.png) center no-repeat;}
.iconmy-general28{ width:48px; height:48px; display:block; background:url(../icons/general28.png) center no-repeat;}
.iconmy-general29{ width:48px; height:48px; display:block; background:url(../icons/general29.png) center no-repeat;}
.iconmy-general30{ width:48px; height:48px; display:block; background:url(../icons/general30.png) center no-repeat;}
.iconmy-general31{ width:48px; height:48px; display:block; background:url(../icons/general31.png) center no-repeat;}
.iconmy-general32{ width:48px; height:48px; display:block; background:url(../icons/general32.png) center no-repeat;}
.iconmy-general33{ width:48px; height:48px; display:block; background:url(../icons/general33.png) center no-repeat;}
.iconmy-general34{ width:48px; height:48px; display:block; background:url(../icons/general34.png) center no-repeat;}
.iconmy-general35{ width:48px; height:48px; display:block; background:url(../icons/general35.png) center no-repeat;}
.iconmy-general36{ width:48px; height:48px; display:block; background:url(../icons/general36.png) center no-repeat;}
.iconmy-general37{ width:48px; height:48px; display:block; background:url(../icons/general37.png) center no-repeat;}
.iconmy-general38{ width:48px; height:48px; display:block; background:url(../icons/general38.png) center no-repeat;}
.iconmy-general39{ width:48px; height:48px; display:block; background:url(../icons/general39.png) center no-repeat;}
.iconmy-general40{ width:48px; height:48px; display:block; background:url(../icons/general40.png) center no-repeat;}
.iconmy-general41{ width:48px; height:48px; display:block; background:url(../icons/general41.png) center no-repeat;}
.iconmy-general42{ width:48px; height:48px; display:block; background:url(../icons/general42.png) center no-repeat;}
.iconmy-general43{ width:48px; height:48px; display:block; background:url(../icons/general43.png) center no-repeat;}
.iconmy-general44{ width:48px; height:48px; display:block; background:url(../icons/general44.png) center no-repeat;}
.iconmy-general45{ width:48px; height:48px; display:block; background:url(../icons/general45.png) center no-repeat;}
