<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>		
	<!--  
		<mapping resource="org/pfw/framework/listener/domain/Listener.hbm.xml" />
		
		<mapping resource="org/pfw/framework/system/domain/FileModel.hbm.xml" />
	-->	
		<!--<mapping resource="hibernate/PageContent.hbm.xml" /><mapping resource="bean/hibernate.hbm.xml" />-->
	</session-factory>
</hibernate-configuration>
