.exit-btn {
	position: absolute;
    right: 2vw;
    top: 0;
    height: 3.1vw;
    line-height: 3.1vw;
    margin-left: 0.1vw;
    font-size: 0.8vw;
    font-family: "Microsoft YaHei";
    color: #fff;
}
.exit-btn>img {
	width: 1.1vw;
	height: 1.1vw;
	vertical-align: -0.2rem;
}
.workbench-l {
	margin-top: 3.6vw;
	margin-left: 0.5rem;
    width: 12.3vw !important;
    background-color: #ffffff;
    height: 90%;
    position: fixed;
    font-size: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow-y: auto;
}
.unit-info {
	padding-top: 2.8vw;
	height: 14vw;
	border-bottom: 1px solid #f0f2f5;
}
.unit-img {
	position: relative;
	margin: 0 auto;
	width: 6.1vw;
	height: 6.1vw;
	border: 0.2vw solid #f0f2f5;
	border-radius: 50%;
	text-align: center;
	line-height: 6.1vw;
}
.unit-img>.house {
	width: 2.5vw;
	height: 2.9vw;
	vertical-align: -1.1vw;
}
.unit-img>.yuan {
	position: absolute;
	right: 0;
	top: 0;
	width: 1.7vw;
	height: 1.7vw;
}
.unit-name {
	margin-top: 0.8vw;
	font-size: 0.8vw;
    font-family: "Microsoft YaHei";
    color: #1a1a1a;
    text-align: center;
    line-height: 1.2vw;
}
.unit-card {
	padding-top: 2.6vw;
	height: 14vw;
	border-bottom: 1px solid #f0f2f5;
}
.unit-ul>li {
	position: relative;
	margin-bottom: 1.4vw;
	height: 1.5vw;
	padding-left: 2.5vw;
	font-size: 0.7vw;
    font-family: "Microsoft YaHei";
    color: #1a1a1a;
    line-height: 1.5vw;
}
.unit-ul>li:before {
	position: absolute;
	left: 0.9vw;
	display: block;
	content: "";
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.unit-ul>li:nth-child(1):before {
	top: 0.15vw;
	width: 1vw;
	height: 1.2vw;
	background-image: url(../images/workbench/user.png);
}
.unit-ul>li:nth-child(2):before {
	top: 0.2vw;
	width: 1.1vw;
	height: 1.1vw;
	background-image: url(../images/workbench/phone.png);
}
.unit-ul>li:nth-child(3):before {
	top: 0.3vw;
	width: 1.2vw;
	height: 0.9vw;
	background-image: url(../images/workbench/mail.png);
}
.hide-btn {
	margin-left: 0.3vw;
}
.hide-btn>img {
	width: 0.8vw;
	height: 0.4vw;
}
.unit-btn-box {
	padding-top: 3.6vw;
}
.unit-btn-box>a {
	display: block;
	margin: 0 auto 1.4vw;
	width: 83%;
	height: 2.3vw;
	background: #f3f3f3;
	font-size: 0.7vw;
    font-family: "Microsoft YaHei";
    color: #1a1a1a;
    text-align: center;
    line-height: 2.3vw;
}
.unit-btn-box>a.blue-btn {
	color: #fff;
	background: #298eec;
}
.workbench-rt {
	margin-right: 0.5vw;
	margin-left: 13.3vw;
	background: #fff;
	height: 15.6vw;
	border-top: 3.6vw solid #f0f2f5;
}
.module-title {
	text-indent: 2vw;
	height: 3.2vw;
	line-height: 3.2vw;
	font-size: 0.8vw;
    font-family: "Microsoft YaHei";
    color: #1a1a1a;
}
.year-list {
	/*margin-top: 0.7vw;*/
	padding-left: 2vw;
	overflow: hidden;
}
.added {
	float: left;
	width: 14.6vw;
	height: 7.4vw;
	background: url(../images/workbench/bg1.png) no-repeat;
	background-size: 100% 100%;
	text-align: center;
	cursor: pointer;
}
.added>img {
	margin-top: 1.4vw;
	width: 2.3vw;
	height: 2.3vw;
}
.added>span {
	display: block;
	font-size: 0.8vw;
	font-family: "Microsoft YaHei";
	color: #fff;
	line-height: 1.6vw;
}
.stats-item {
	float: left;
	padding-left: 2vw;
	padding-top: 1.2vw;
	margin-left: 5.6vw;
	width: 16.7vw;
	height: 7.4vw;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.pending {
	background-image: url(../images/workbench/bg2.png); 
}
.back {
	background-image: url(../images/workbench/bg3.png); 
}
.declared {
	background-image: url(../images/workbench/bg4.png); 
}
.stats-head {
	font-size: 0.8vw;
    font-family: "Microsoft YaHei";
    color: #808080;
    line-height: 2vw;
}
.stats-count {
	font-size: 2vw;
	font-family: "Microsoft YaHei";
	color: #000;
	font-weight: bold;
	line-height: 2.2vw;
}
.workbench-r {
	position: relative;
	padding-bottom: 3.1vw;
}
.workbench-rb {
	margin-top: 0.5vw;
	margin-right: 0.5vw;
	margin-left: 13.3vw;
	background: #fff;
	/*height: 30vw;*/
	/*overflow: hidden;*/
}
.projects-ul {
	overflow: hidden;
	margin-left: 2vw;
}
.projects-ul>li {
	position: relative;
	float: left;
	margin-right: 3vw;
	margin-bottom: 1.85vw;
	width: 13.5vw;
	height: 13vw;
	border: 1px solid #f0f2f5;
	border-radius: 3px;
}
.projects-ul>li:nth-chind(5n) {
	margin-right: 0;
}
.p-title {
	padding-top: 0.5vw;
	font-size: 0.7vw;
    font-family: "Microsoft YaHei";
    color: #999;
    line-height: 1.3vw;
    text-indent: 1vw;
}
/*圆形进度条*/
.donut-chart {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 100%
}

.donut-chart .center {
  background: #fff;
  border-radius: 50%;
  height: 90%;
  left: 5%;
  position: absolute;
  top: 5%;
  width: 90%;
}
.center span {
  color: #5fd1b8;
  display: block;
  font-size: 0.7vw;
  font-weight: bold;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
}
.center span>label {
	font-size: 1.2vw;
	vertical-align: -0.7vw;
}

.clip {
  border-radius: 50%;
  clip: rect(0px, 100px, 100px, 50px);
  height: 100%;
  position: absolute;
  width: 100%;
}

.item {
  border-radius: 50%;
  clip: rect(0px, 50px, 100px, 0px);
  height: 100%;
  position: absolute;
  width: 100%;
  font-family: monospace;
  font-size: 1.5rem;
}

#section1 {
  transform: rotate(0deg);
}

#section1 .item {
  background-color: #5fd1b8;
  transform: rotate(180deg);
}

#section2 {
  transform: rotate(180deg);
}

#section2 .item {
  background-color: #ebecee;
  transform: rotate(180deg);
}
.projects-name {
	margin-top: 0.5vw;
	font-size: 0.7vw;
    font-family: "Microsoft YaHei";
    color: #000;
    line-height: 1.3vw;
    text-indent: 1vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.projects-time {
	font-size: 0.6vw;
    font-family: "Microsoft YaHei";
    color: #999;
    line-height: 1.3vw;
    text-indent: 1vw;
}
.tips-box {
	position: absolute;
	left: 0;
	bottom: 0;
	border-top: 1px solid #f0f2f5;
	width: 100%;
	height: 2.3vw;
	line-height: 2.3vw;
}
.tips-box>span {
	font-size: 0.6vw;
    font-family: "Microsoft YaHei";
    color: #f84e4e;
    padding-left: 1vw;
}
.tips-box>a {
	position: absolute;
	top: 0;
	right: 1.1vw;
}
.tips-box>a img {
	width: 1vw;
	height: 1vw;
	vertical-align: middle;
}