.midDivBase {
	width: 75vw;
	margin: 0 auto;
}
.grzx_left{
    width: 25%;
    height: 70vh;
    background-color: #fff;
    border-radius: 0.2vw;
    margin: 2vh 1.5vw 2vh 0;
    box-shadow: 0px 0.1vw 1vw rgba(0, 0, 0, 0.14);
}
.grzx_right{
    width: 75%;
    margin: 2vh 0.5vw 2vh 0;
}
.grzx_right_yhgn{
    width: 100%;
    min-height: 40vh;
    background-color: #fff;
    border-radius: 0.2vw;
    
    box-shadow: 0px 0.1vw 1vw rgba(0, 0, 0, 0.14);
}
.grzx_right_wdxx{
    width: 100%;
    min-height: 40vh;
    background-color: #fff;
    border-radius: 0.2vw;
    margin-top: 2vh;
    box-shadow: 0px 0.1vw 1vw rgba(0, 0, 0, 0.14);
}
.ul_cm_wrap{
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid; */
}
.ul_cm_wrap li{
    margin: 0 3vw 3vh 0;
    /* border: 1px solid; */
    text-align: center;
    width: 5vw;
    cursor: pointer;
}
.ul_cm_wrap li img{
    width: 4vw;
}
.info_dv_tr{
    display: flex;
    margin: 2vh 0.5vw;
    padding-bottom: 1vh;
    font-size: 0.9vw;
    border-bottom: 0.1vw dashed #ddd;
}
.info_dv_tr_titinfo{
    width: 75%;
}
.info_dv_tr_riq{
    color: #2F65CB;width: 15%;
}
.info_dv_tr_opt{
    text-align: right;width: 10%;
}
.info_dv_tr_addsom{
    background-color: #f27922;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    color: #fff;
    font-size: 0.8vw;
    font-weight: bold;
    align-items: center;
    text-align: center;
    display: inline-table;
    margin-right: 0.5vw;
    cursor: pointer;
}
.tx_table{
    width: 15vw;
    min-height: 10vh;
    margin: 0 auto;
}
.tx_table_tximg{
    width: 4vw;
}
.tx_table_txxm{
    font-size: 1.4vw;
    font-weight: bold;
    margin-left: 1vw;
    letter-spacing: 0.2vw;
}
.tx_table_txxm2{
    margin: 1vh 0 0 1vw;
    letter-spacing: 0.2vw;
}
.card_cm_title{
    display: flex;
    margin: 0vh 0 1vh 0;
    height: 3vh;
    align-items: center;
    position: relative;
}
.card_cm_title_bord{
    border-left: 0.2vw solid #2F65CB;
    height: 1.8vh;
}
.card_cm_title_txt{
    font-size: 0.9vw;
}
.tx_table2_titTd{
    padding: 1vh 0;letter-spacing: 0.05vw;
}
.tx_table_btn{
    display: block;
    margin: 0 auto 1.3vw;
    width: 89%;
    height: 2.2vw;
    font-size: 0.7vw;
    font-family: "Microsoft YaHei";
    color: #fff;
    text-align: center;
    line-height: 2.3vw;
    background: #1f71ff;
    border-radius: 3px;
}
.tx_table_reset_btn{
    display: block;
    margin: 0 auto 1.3vw;
    width: 89%;
    height: 2.2vw;
    font-size: 0.7vw;
    font-family: "Microsoft YaHei";
    text-align: center;
    line-height: 2.3vw;
    border-radius: 3px;
    color: #8a8f99;
    background: #fff;
    border: 1px solid #8a8f99;
}