/**头部样式开始**/
.header {
    width: 100vw;
    height: 40vh;
    background-image: url(../images/bstd/banner.png);
    background-size: 100%;
}
.header1{
    background-image: url(../images/bstd/u87.svg);
    width: 100%;
    height: 100%;
    color: #fff;
    background-size: 100%;
}
.header1_pinp_tit{
    font-size: 2vw;
    font-style: italic;
    letter-spacing: 0.2vw;
    font-weight: bold;
    margin: 0 0.5vw;
}
.header1_xxmc{
    font-weight: bold;letter-spacing: 0.1vw;margin-bottom: 1vh;
}
.header1_bsdtmc{
    font-size: 1vw;display: flex;align-items: center;
}
.header1_bsdtmc1{
    width: 0.2vw;height: 0.2vw;background-color:#fff;border-radius: 50%;margin: 0 0.5vw;
}
.header1_rgt_td2{
    text-align: center;padding: 0 1.5vw 0 0.5vw;background: url(../images/dayuhao_xia_white.png) no-repeat;background-size: 1vw;background-position: 100% 50%;
}

.midDivBase {
    width: 90vw;
    margin: 0 auto;
}
.header1_search{
    width: 100%;
    padding-left: 18%;
    font-size: 1vw;
    margin: 2vh 0;
    position: relative;
}
.header1_search_1{
    position: relative;
}
.header1_search_2{
    margin: 2vh 0 1.5vh 0;
    display: flex;
}
.header1_search_2_text{
    border: 0vw;
    width: 41vw;
    height: 5vh;
    border-radius: 0.5vw;
    padding-left: 1vw;
}
.header1_search_2_text::-webkit-input-placeholder{
    color: #ccc;
    font-size: 0.8vw;
    letter-spacing: 0.2vw;
}
.search_btn{
    background: rgba(245, 154, 35, 1) !important;
    border: 0vw;
    font-size: 1.2vw;
    color: #fff;
    border-radius: 0 0.5vw 0.5vw 0;
    width: 8vw !important;
    height: 6vh;
    position: absolute;
    margin-left: 44.3%;
}
.header1_search_sjjt{
    width: 1.5vw;
    position: absolute;
    top: 2.8vh;
}
.left_1{
    margin-left: 1.5vw;
}
.left_2{
    margin-left: 9vw;
}
.left_3{
    margin-left: 17vw;
}
.header1_search_3{
    font-size: 0.8vw;
}
.header1_search_3 a{
    color: #fff;
    margin-right: 1vw;
}
.topMenu{
    margin-top: 4.5vh;
    height: 5vh;
    background-color: rgb(50 81 136 / 70%);
}
.topMenu_ul{
    width: 100%;
    display: flex;
    height: 5vh;
}
.topMenu_ul_li{
    width: 16%;
    height: 3.5vh;
    text-align: center;
    font-size: 1vw;
    padding-top: 1vh;
    cursor: pointer;
    /* border-right: 0.1vw solid #fff; */
}
.tpm_active{
    background-color: #4a75c9;
    font-weight: bold;
    border-right: 0px solid #fff;
}
/**头部样式结束**/



/**办事服务搜索**/
.fwss_bm_onebm{
    margin: 0 auto;
    width: 96%;
    padding: 2vh 0 0 2vw;
    
}
.fwss_bm_fw{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 0.1vw dashed #ddd;
}
.fwss_bm_fw_bmtitle{
    font-size: 1.2vw;
    padding-bottom: 1vh;
}

.fwss_bm_fw_li{
    width: 12vw;
    height: 8vh;
    display: flex;
    /* border: 1px solid; */
    padding: 0.5vw;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.14);
    cursor: pointer;
    margin: 1vh 2.5vw 2vh 0vw;
}
.fwss_bm_fw_li:hover{
    transform: translateY(-5px);
    transition: 0.4s;
}
.fwss_bm_fw_li_fwimg{
    width: 3vw;
    
}
.fwss_bm_fw_li_fwtjxx{
    color: #b3b3b3;
    font-weight: bold;
    margin-top: 1vh;
}
/**办事服务搜索**/