/* CSS Document */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,table,img{margin:0;padding:0;}
body,button,input,select,textarea{font:0.8vw "Microsoft Yahei","PingFang SC",tahoma,simsun;color:#666;outline:none;}
table{border-collapse:collapse;border-spacing:0;}
a{text-decoration:none;color:#6f7c82;cursor:pointer;}
a:hover{text-decoration:none;}
ul,ol,li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
em{font-style:normal;}
img{border:0;}
/*body{overflow-x:hidden;}
*/



html {
    height: 100vh;
	width: 100vw;
}

body {
    box-sizing: border-box;
    position: relative;
    height: 100vh;
    background: #fff;
    background-size: 100%;
}



